@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2015-08-18 17:35:35
 * @version $Id$
 */
html,body{
	width: 100%;
} 
body{
	font-size:62.5%;	
} 
.wl_cotent{
	padding: 2% 4%;
	overflow: hidden;
}
.wl_cotent h1{
	font-size:1.8em;
}
.wl_cotent p{
	font-size:1.8em;
	text-indent: 1em;
	color: #333333;
}
.wl_cotent .wl_contentimg{
	width: 100%;
	/*height: 12.5%;*/
	margin-bottom: 1%;
}
.wl_cotent .wl_contentimg img{
	width: 100%;
	height: 100%;
}
.wl_cotent .wl_contenttip{
	color: #666666;
	text-indent:0;
	margin-top: 0.2em;
}
.wl_msgtip{
	width: 92.81%;
	height: 306px;
	margin: 4% auto 0;
}
.wl_msgtipimg{
	height: 25.17%;
	display: block;
	background: url(../images/cctive.png) no-repeat;
	background-size: contain;
}
.wl_msgtipb{
	width: 98%;
	display: block;
	margin-top: 30px;;
}
.wl_msgtipb img{
	width: 100%;
	height: 100%;
}



.wl_msgtibtn{
	width: 92.81%;
	height: 80px;
	border:1px solid #ff0000;
	font-family: "宋体";
	padding-top: 1%;
	text-align: center;
	font-weight: bold;
	display: block;
	border-radius: 5px;
	margin-top: 10%;
}
.wl_msgtibtn p{
	width: 98%;
	height: 96%;
	background:#ff0000;
	display: inline-block; 
	font-size: 2.3em; 
	color: #fff;
	font-weight: bold;
	line-height: 80px;
	border-radius: 5px;
}

.wl_msgtipsare{
	text-align: center;
	font-size: 2.3em;
	overflow: hidden;
	position: relative;
	margin: 10% auto 0;
}
.wl_msgtipsare span{
	width: 10.73%;
	height: 1.25em;
	display:inline-block;
	background: url(../images/sarebtn.png) no-repeat;
	background-size: contain;
	position: absolute;
	left: 32%;
	top: 0.2em;
}
.wl_tipms{
	width:93.125%;
	/*height: 38.25em;*/
	margin: 4% auto 20%;
}
.wl_tipms img{
	width: 100%;
}
.wl_cotent .wl_pagefont{
	width: 100%;
	height: 40px;
	font-size: 1.5em;
	color: #999999;
	line-height: 50px;
	padding: 0 2%;
	border-bottom:1px solid #ccc ;
	text-align: left;
	text-indent:0;
	margin-bottom: 10px;
}

.wl_foot{
	width: 100%;
	height: 68px;
	background: #f67978;
	opacity: 0.8;
	/*margin-top: 26%;*/
	position: fixed;
	bottom: 0;
	left: 0;
}
.wl_foot p{
	float: left;
	margin:0 0 0 2%;
	line-height: 68px;
	font-size: 2em;
	color: #fff;
	font-weight: bold;
}
.wl_footbtn{
	width: 28%;
	height: 60%;
	text-align: center;
	border: 0;
	outline: none;
	line-height: 100%;
	vertical-align: middle;
	background: #fb0200;
	color: #fff;
	display: inline-block;
	font-size: 1.5em;
	float: right;
	margin: 4% 2% 0 0;
	box-shadow: 2px 2px 2px #bf0201;
	border-radius: 5px;
}
